<% @user.sending_transfers.each do |x|%>
    <% if x.status = "pending" %>
        <li> <%= x.receiver.display_name %> requested payment of <%= number_to_currency(x.amount) %> for <%= x.note %> on <%= x.created_at.strftime("%B %d") %> </li>
    <% else %>
    <% end %>
<% end %>

<% if @user.id == current_user.id %>
    <p> transaction </p>
<% end %>